div.avatar-wrapper
    div.avatar
        i(class="fa fa-user-circle fa-2x" aria-hidden="true")
div.controls-wrapper
    div.search
        input#txtSearchBar(type="text" class="search-bar animation-hide-search-bar")
        i(class="fa fa-search" onclick="toggleSearchBar()")
    div.contacts
        i(class="fa fa-address-book" onclick="showContacts()")